<a href="https://colab.research.google.com/github/unt-iialab/INFO5731_Spring2020/blob/master/In_class_exercise/In_class_exercise_01.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# **The first In-class-exercise (08/30/2023, 40 points in total)**
This exercise is due tomorrow 08/31/203 11:59 PM.

(1) Write a Python program to calculate the area of a rectangle using user-input length and width.

In [ ]:
# write your answer here
length, width = map(int,input("Enter length and width of a rectangle").split())
print("length = ",length)
print("width = ", width)
print("Area of a rectangle is: ",length*width)

Enter length and width of a rectangle2 5
length =  2
width =  5
Area of a rectangle is:  10

(2) Create a program that takes two numbers from the user and swaps their values without using a temporary variable.

In [ ]:
# write your answer here
v1 = int(input("Enter first value: "))
v2 = int(input("Enter second value: "))#v1 means value-1 & v2 means value-2
print(v1, v2) #Before swapping
v1 = v1 + v2
v2 = v1 -v2
v1 = v1 - v2
print(v1, v2) #After swaping

Enter first value: 4
Enter second value: 7
4 7
7 4

(3) Write a Python program to calculate the length of a string.

In [ ]:
# write your answer here
Str='viratkohli'
print(len(Str))

10

(4) Write a Python program to count the number of characters in a string.

Sample String : 'google.com‘,

Expected Result : {'o': 3, 'g': 2, '.': 1, 'e': 1, 'l': 1, 'm': 1, 'c': 1}

In [ ]:
# write your answer here
String='google.com'
dictonary={}
for i in String:
 keys=dictonary.keys()
 if i in keys:
  dictonary[i]+=1
 else:
  dictonary[i]=1
print(dictonary)

{'g': 2, 'o': 3, 'l': 1, 'e': 1, '.': 1, 'c': 1, 'm': 1}

(5) Write a Python program to sum all the items in a list.

In [ ]:
# write your answer here
list=[4,7,21,51,52] #Consider a list containing integers
sum=0
for i in range(len(list)):
  sum=sum+list[i]
print(sum)

135

(6) Write a Python program to get a string from a given string where all occurrences of its first char have been changed to '\$', except the first char itself.

Sample String : 'restart‘,

Expected Result : 'resta\$t'

In [ ]:
# write your answer here
sample_str = "restart the process"
final = sample_str.replace("r", "$").replace("$", "r", 1)
print(final)

resta$t the p$ocess

(7) Create a program that calculates the factorial of a number using a while loop.

In [ ]:
# write your answer here
FactNum = int(input("Enter a number: "))
print(FactNum)
m = 0
Result= 1
while m < FactNum:
    Result *= FactNum-m
    m +=1
print(Result)

Enter a number: 6
6
720

(8) Create a program that takes a list of numbers as input and outputs a new list with only the even numbers.

In [ ]:
# write your answer here
inputList = list(map(int, input("Enter all the numbers to input in the list: ").split()))
print(inputList)
outputList = []
for item in inputList:
    if item%2 == 0:
        outputList.append(item)
print(outputList)

Enter all the numbers to input in the list: 2 12 3 9 32
[2, 12, 3, 9, 32]
[2, 12, 32]

(9) Write a program with python which could accept two parameter a and b to calculate and output the result of S, where

$\ S=3.14*(1+a/b)^3$

In [ ]:
# write your answer here
Ptr_a=3 #parameter_a = 3
Ptr_b=21 #parameter_b = 21
S=3.14*((1+Ptr_a/Ptr_b)**3)
print(S)

4.687113702623906

(10) Write a Python program to concatenate following dictionaries to create a new one.

Sample Dictionary : dic1={1:10, 2:20}, dic2={3:30, 4:40}, dic3={5:50,6:60},

Expected Result : {1: 10, 2: 20, 3: 30, 4: 40, 5: 50, 6: 60}

In [ ]:
# write your answer here
Dictonary1={1:8, 2:18}
Dictonary2={3:24, 4:32}
Dictonary3={5:42,6:60}
Dictonary1.update(Dictonary2)
Dictonary1.update(Dictonary3)
print(Dictonary1)

{1: 8, 2: 18, 3: 24, 4: 32, 5: 42, 6: 60}

(11) Write a Python function that accepts a tuple of integers and returns the largest and smallest elements.

In [ ]:
# write your answer here
inpTuple = tuple(map(int, input("Enter values of a tuple: ").split()))
print(inpTuple)
sorted_tuple=tuple(sorted(inpTuple))
print("smallest nbr : ",sorted_tuple[0])
print("largest nbr: ",sorted_tuple[-1])

Enter values of a tuple: 2 3 12 15 18
(2, 3, 12, 15, 18)
smallest nbr :  2
largest nbr:  18

(12) Write a Python program that counts the frequency of each character in a given string and stores it in a dictionary.

In [ ]:
# write your answer here
stringFreq = " university of north texas"
Freq = {}

for char in stringFreq:
  if char in Freq:
    Freq[char] +=1
  else:
    Freq[char]=1
for k, v in Freq.items():
  print(k, " : " ,v)

   :  4
u  :  1
n  :  2
i  :  2
v  :  1
e  :  2
r  :  2
s  :  2
t  :  3
y  :  1
o  :  2
f  :  1
h  :  1
x  :  1
a  :  1

(13) Write a Python program to check whether an element exists within a tuple.

In [ ]:
# write your answer here
tup=(8,14,21,65,25,46)
print(24 in tup)
print(21 in tup)

False
True

(14) Write a Python program to find maximum and the minimum value in a set.

In [ ]:
# write your answer here
Set={9,12,68,32,3,73}
print(max(Set))
print(min(Set))

73
3

(15) Write a Python program to randomly divide the students in this class into six groups for term projects, each group should have at least 4 students but no more than 6 students (including 6). Here is the students list:
student_list_fall_2023=['sb1826' ,
 'lb0582' ,
 'ab1820' ,
 'sb1883' ,
 'mb1296' ,
 'sc1622' ,
 'tc0469' ,
 'ac1770' ,
 'mc1453' ,
 'ad1187' ,
 'sd0926' ,
 'sd1268' ,
 'ag1609' ,
 'sg1638' ,
 'mg1299' ,
 'vkk0022' ,
 'bk0413' ,
 'gk0257' ,
 'am2807' ,
 'gm0558' ,
 'pm0658' ,
 'am2346' ,
 'rm1090' ,
 'sm2364' ,
 'sm2747' ,
 'sm2343' ,
 'vm0597' ,
 'htn0086' ,
 'sp2075' ,
 'gp0306' ,
 'lp0502' ,
 'sr1508' ,
 'vr0331' ,
 'yr0180' ,
 'as2819' ,
 'ss2981' ,
 'ns0756' ,
 'mt0825' ,
 'dt0463' ,
 'su0137' ,
 'dv0310'
]

In [ ]:
# write your answer here
from itertools import islice
from random import randint

std_list = ['vmb0067','pc0353','snd0097','yye0005','sg0940','bk0301','rak0120','rrk0058','spk0057','vl0135','nm0547','pn0159', 'msp0174','dd0420','ds0761','rs0850','ss1995','at0739','at0768','mv0299','tv0119','dy0091']

def class_group(student_list, no_of_groups, min_size=3, max_size=5):
    lst_student = iter(std_list)
    for i in range(no_of_groups):
        group = list(islice(lst_student,randint(min_size,max_size)))
        if group:
            yield group
        else:
            break
print(list(class_group(std_list,5)))

[['vmb0067', 'pc0353', 'snd0097', 'yye0005'], ['sg0940', 'bk0301', 'rak0120', 'rrk0058', 'spk0057'], ['vl0135', 'nm0547', 'pn0159', 'msp0174', 'dd0420'], ['ds0761', 'rs0850', 'ss1995', 'at0739', 'at0768'], ['mv0299', 'tv0119', 'dy0091']]

(16) Write a Python program to find the duplicate elements in a given array of integers. Return -1 If there are no such elements.

In [ ]:
# write your answer here
def dup_elements(Elements):
    count=0
    list2=[]
    for i in range(len(Elements)):
        for j in range(i+1,len(Elements)):
            if Elements[i]==Elements[j]:
                list2.append(Elements[i])
    if len(list2)==0:
        return -1;
    else:
        return list2;

Elements=[8,21,34,46,21,56,34]
print(dup_elements(Elements))

[21, 34]

(17) Write a Python program to select all the Sundays of a specified year.

In [ ]:
# write your answer here
from datetime import date, timedelta
def Year_Sunday(year):
       date_time = date(year, 1, 1)
       date_time += timedelta(days = 6 - date_time.weekday())
       while date_time.year == year:
          yield date_time
          date_time += timedelta(days = 7)
for i in Year_Sunday(2023):
   print(i)

2023-01-01
2023-01-08
2023-01-15
2023-01-22
2023-01-29
2023-02-05
2023-02-12
2023-02-19
2023-02-26
2023-03-05
2023-03-12
2023-03-19
2023-03-26
2023-04-02
2023-04-09
2023-04-16
2023-04-23
2023-04-30
2023-05-07
2023-05-14
2023-05-21
2023-05-28
2023-06-04
2023-06-11
2023-06-18
2023-06-25
2023-07-02
2023-07-09
2023-07-16
2023-07-23
2023-07-30
2023-08-06
2023-08-13
2023-08-20
2023-08-27
2023-09-03
2023-09-10
2023-09-17
2023-09-24
2023-10-01
2023-10-08
2023-10-15
2023-10-22
2023-10-29
2023-11-05
2023-11-12
2023-11-19
2023-11-26
2023-12-03
2023-12-10
2023-12-17
2023-12-24
2023-12-31

(18) Build a program that calculates the factorial of a given positive integer. The factorial of a non-negative integer n is the product of all positive integers less than or equal to n.

In [ ]:
# write your answer here
def fact(n):
    return 1 if n == 0 else n * fact(n - 1)
inputFact = int(input("Enter a number to find factorial: "))
FactResult = fact(inputFact)
print("Factorial is: ", FactResult)

Enter a number to find factorial: 5
Factorial is:  120

(19) Write a program that takes a positive integer n as input and prints the count of even numbers from 1 to n. Use a loop to iterate through the numbers and utilize the break statement to optimize the loop.

In [ ]:
# write your answer here
InputCount = int(input("Enter a positive integer n: "))
if InputCount < 1:
    print("none")
else:
    EvenCount = InputCount // 2
    print(f"{EvenCount}.")

Enter a positive integer n: 13
6.

(20) Write a Python function called count_vowels that takes a string as input and returns the count of vowels (both lowercase and uppercase) present in the string. Consider the vowels to be 'a', 'e', 'i', 'o', and 'u'. Ignore spaces and other non-alphabetic characters.

In [ ]:
# write your answer here
vowels = 'aeiouAEIOU'
Input_str = input("Enter a string: ")
Vowels_count = sum(Input_str.count(vowel) for vowel in vowels)
print(f"{Vowels_count}")

Enter a string: student
2